.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/__sapper__/
/flaGoesHere/*.fla
/flaGoesHere/flafiles/*.html
/flaGoesHere/flafiles/images/*.jpg
/flaGoesHere/flafiles/images/*.png
/flaGoesHere/flafiles/images/*.bmp
/flaGoesHere/flafiles/images/*.gif